html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Source Han Sans SC", "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 0;
  touch-action: manipulation; // disable ios double tap zoom
  //user-select: none;
}

#app, .n-config-provider {
  height: 100%;
}


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


//@media (prefers-color-scheme: light) {
//  :root {
//    color: #213547;
//    background-color: #ffffff;
//  }
//  a:hover {
//    color: #747bff;
//  }
//  button {
//    background-color: #f9f9f9;
//  }
//}

.scrollbar-mini {
  $radius: 8px;
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    overflow: overlay;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: $radius;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: rgba(192, 192, 192, 0.63);

    &:hover {
      background-color: #bebebe;
    }
  }

  ::-webkit-scrollbar-track {
    border-radius: 4px;
    background: transparent;
  }
}

.content-padding {
  //@media screen and (min-width: 500px) {
  //  padding: 24px;
  //}
}

.n-color-picker-trigger__fill {
  border-radius: 4px !important;
  overflow: hidden;
}

.n-dropdown {
  user-select: none;
}

.font-code {
  font-family: 'Operator Mono', 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.font-emoji {
  font-family: "Segoe UI Emoji", "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.btn-no-style {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
  padding: 0;
  text-decoration: none;

  &:active {
    opacity: 0.8;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.n-dialog__icon {
  margin-right: 10px !important;
}

.n-input-group-label {
  display: inline-flex;
  align-items: center;
}

.n-data-table__pagination {
  padding: 0 15px;
}
